<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../css/css.css" rel="stylesheet" type="text/css">
<title>站内宣传图片列表</title>
<script language="JavaScript">
<!-- Hiding
  function loadtwo(page2, page3) {
     parent.leftFrame.location.href=page2;
     parent.mainFrame.location.href=page3;
}
// -->
</script>
<style type="text/css">
<!--
.STYLE1 {color: #993300}
-->
</style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#999999"> 
      <td height="1" valign="top"></td>
    </tr>
    <tr bgcolor="#E4E4E4"> 
      <td height="230" valign="top">
        <table width="740" border="0" cellspacing="1" cellpadding="0">
            <tr> 
              <td width="133" height="21" bgcolor="#A24E12">&nbsp;<font color="#FFFFFF">站内宣传图片列表</font></td>
                <td width="514" bgcolor="#FFFFFF"> <div align="right"> </div></td>
                <td width="89" bgcolor="#FFFFFF"><div align="center"></div></td>
            </tr>
          </table>
          <table width="740" border="0" cellpadding="0" cellspacing="1">
            <tr> 
              <td height="15" colspan="8"><div align="right"></div></td>
            </tr>
            <tr> 
              <td width="42" height="24" bgcolor="#999999">&nbsp;<font color="#FFFFFF" size="2">序号</font></td>
              <td bgcolor="#999999"><font color="#FFFFFF" size="2">&nbsp;图片</font></td>
              <td width="65" bgcolor="#999999">&nbsp;<font color="#FFFFFF">图片格式</font>&nbsp;</td>
              <td width="60" bgcolor="#999999"><div align="center"><font color="#FFFFFF">修改图片</font></div></td>
            </tr>
            <tr> 
              <td valign="middle" bgcolor="F1F0F1"><font size="2">&nbsp;<font color="#993300">1、</font></font></td>
              <td width="568" height="18" bgcolor="F1F0F1">&nbsp;<a href="../../images/<%= l_pic %>.<%= l_ext %>" target="_blank"><img src="../../images/<%= l_pic %>.<%= l_ext %>" alt="<%= l_title %>" name="qas" height="60" border="0"></a></td>
              <td bgcolor="F1F0F1">&nbsp;gif</td>
              <td bgcolor="#E1DFE1"> <div align="center"><a href="Pic_modiPic.html?l_id=<%=l_id%>"><font size="2">修改图片</font></a></div></td>
            </tr>

            <tr> 
              <td height="1" colspan="8" bgcolor="#999999"></td>
            </tr>
            <tr> 
              <td height="21" colspan="8" valign="top">&nbsp;</td>
            </tr>
          </table></td>
    </tr>
  </table>
</div>
</body>
</html>
